<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.6.5/dist/flowbite.min.js"></script>

    <title>MMHA</title>
    <style>
      :root {
        --primary-color: #07afd9;
      }

      input:checked + .radio-tile {
        background-color: var(--primary-color);
        box-shadow: 0 0 12px var(--primary-color);
        transform: scale(1.03);
      }

      input:hover + .radio-tile {
        box-shadow: 0 0 12px var(--primary-color);
      }

      input:checked + .radio-tile ion-icon,
      input:checked + .radio-tile label {
        color: white;
      }
    </style>
  </head>

  <body class="bg-[#0d0d1a] text-white font-sans">
    <section>
      <nav class="fixed top-0 left-0 w-full z-50 bg-gray-900 border-b border-gray-800">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="#" class="flex items-center space-x-3">
            <img src="../static/Logo.png" class="h-11" alt="Logo" />
            <span class="text-2xl font-semibold text-white">MultiModal Health Analyzer</span>
          </a>
          <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 text-sm text-gray-400 rounded-lg md:hidden hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-600">
            <svg class="w-5 h-5" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
            <ul class="flex flex-col md:flex-row md:space-x-8 mt-4 md:mt-0 font-medium">
              <li><a href="\" class="block py-2 px-3 text-blue-500">Home</a></li>
              <li class="relative">
                <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center w-full py-2 px-3 text-white hover:text-blue-500">Daigonsis
                  <svg class="w-2.5 h-2.5 ml-2" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l4 4 4-4"/></svg>
                </button>
                <!-- Dropdown -->
                <div id="dropdownNavbar" class="hidden absolute mt-2 bg-gray-800 text-sm rounded-md shadow-lg w-44 z-10">
                  <ul class="py-2">
                    <li><a href="/braintumor1" class="block px-4 py-2 hover:bg-gray-700">Brain Tumor</a></li>
                    <li><a href="/alzheimer1" class="block px-4 py-2 hover:bg-gray-700">Alzheimer</a></li>
                    <li><a href="/diabetes1" class="block px-4 py-2 hover:bg-gray-700">Diabetes</a></li>
                    <li><a href="/pneumonia1" class="block px-4 py-2 hover:bg-gray-700">Pneumonia</a></li>
                    <li><a href="#" class="block px-4 py-2 hover:bg-gray-700">Heart Disease</a></li>
                    <li><a href="#" class="block px-4 py-2 hover:bg-gray-700">Symptoms Based</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="index.html#info" class="block py-2 px-3 text-white hover:text-blue-500">Info</a></li>
              <li><a href="index.html#developer" class="block py-2 px-3 text-white hover:text-blue-500">Developer</a></li>
              <li><a href="index.html#contact" class="block py-2 px-3 text-white hover:text-blue-500">Contact</a></li>
              <li>
                <a href="/homepage" class="inline-block bg-red-600 hover:bg-green-500 text-white font-medium px-6 py-3 rounded-md transition">
                  <h1>Start 🩺</h1>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>

    <div class="flex justify-center pt-32 pb-10 px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl">
        
        <div class="relative w-full h-60">
            <a href="/braintumor1">
             <input id="brain-tumor" type="radio" name="radio" class="absolute w-full h-full m-0 cursor-pointer z-20 opacity-0 pointer-events-none" >
            <div class="radio-tile flex flex-col w-full h-full border-2 border-[#07afd9] rounded transition-all duration-300 ease-in-out overflow-hidden">
              <img src="../static/braintumor_img.jpg"  class="w-full h-[80%] object-cover rounded-t-lg" alt="walk icon">
              <div class="w-full h-[2px] bg-[#07afd9]"></div>
              <label for="walk" class="text-[#07afd9] text-lg font-semibold uppercase tracking-wider text-center mt-auto py-2">Brain Tumor </label>
            </div>
        </a>
          </div>

          
        <div class="relative w-full h-60">
            <a href="/alzheimer1">
            <input id="alzheimer" type="radio" name="radio" class="absolute w-full h-full m-0 cursor-pointer z-20 opacity-0 pointer-events-none" >
            <div class="radio-tile flex flex-col w-full h-full border-2 border-[#07afd9] rounded transition-all duration-300 ease-in-out overflow-hidden">
              <img src="../static/alzheimer.jpg"  class="w-full h-[80%] object-cover rounded-t-lg" alt="walk icon">
              <div class="w-full h-[2px] bg-[#07afd9]"></div>
              <label for="walk" class="text-[#07afd9] text-lg font-semibold uppercase tracking-wider text-center mt-auto py-2">Alzheimer </label>
            </div>
        </a>
          </div>
          
          <div class="relative w-full h-60">
            <a href="/diabetes1">
            <input id="diabetes" type="radio" name="radio" class="absolute w-full h-full m-0 cursor-pointer z-20 opacity-0 pointer-events-none" >
            <div class="radio-tile flex flex-col w-full h-full border-2 border-[#07afd9] rounded transition-all duration-300 ease-in-out overflow-hidden">
              <img src="../static/diabetes.jpg"  class="w-full h-[80%] object-cover rounded-t-lg" alt="walk icon">
              <div class="w-full h-[2px] bg-[#07afd9]"></div>
              <label for="walk" class="text-[#07afd9] text-lg font-semibold uppercase tracking-wider text-center mt-auto py-2">Diabetes</label>
            </div>
        </a>
          </div>

          <div class="relative w-full h-70">
            <a href="/heartdisease1">
            <input id="alzheimer" type="radio" name="radio" class="absolute w-full h-full m-0 cursor-pointer z-20 opacity-0 pointer-events-none" >
            <div class="radio-tile flex flex-col w-full h-full border-2 border-[#07afd9] rounded transition-all duration-300 ease-in-out overflow-hidden">
              <img src="../static/heart_disease.jpg"  class="w-full h-[80%] object-cover rounded-t-lg" alt="walk icon">
              <div class="w-full h-[2px] bg-[#07afd9]"></div>
              <label for="walk" class="text-[#07afd9] text-lg font-semibold uppercase tracking-wider text-center mt-auto py-2">Heart Disease</label>
            </div>
            </a>
          </div>

          <div class="relative w-full h-70">
            <a href="/symptomsbased1">
            <input id="alzheimer" type="radio" name="radio" class="absolute w-full h-full m-0 cursor-pointer z-20 opacity-0 pointer-events-none" >
            <div class="radio-tile flex flex-col w-full h-full border-2 border-[#07afd9] rounded transition-all duration-300 ease-in-out overflow-hidden">
              <img src="../static/symptoms.jpg"  class="w-full h-[80%] object-cover rounded-t-lg" alt="walk icon">
              <div class="w-full h-[2px] bg-[#07afd9]"></div>
              <label for="walk" class="text-[#07afd9] text-lg font-semibold uppercase tracking-wider text-center mt-auto py-2">Symptoms Based</label>
            </div>
        </a>
          </div>

          <div class="relative w-full h-70">
            <a href="/pneumonia1">
            <input id="alzheimer" type="radio" name="radio" class="absolute w-full h-full m-0 cursor-pointer z-20 opacity-0 pointer-events-none" >
            <div class="radio-tile flex flex-col w-full h-full border-2 border-[#07afd9] rounded transition-all duration-300 ease-in-out overflow-hidden">
              <img src="../static/pneumonia.jpg"  class="w-full h-[80%] object-cover rounded-t-lg" alt="walk icon">
              <div class="w-full h-[2px] bg-[#07afd9]"></div>
              <label for="walk" class="text-[#07afd9] text-lg font-semibold uppercase tracking-wider text-center mt-auto py-2">Pneumonia</label>
            </div>
        </a>
          </div>

       

      </div>
    </div>
    <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded-sm md:my-10 dark:bg-gray-700">
    <footer id = "contact" class="scroll-mt-20 mt-8 bg-gray-900 border-t border-gray-800 py-8">
        <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row items-center justify-between">
          <a href="#" class="flex items-center space-x-3 mb-4 md:mb-0">
            <img src="../static/Logo.png" class="h-8" alt="Logo" />
            <span class="text-xl font-semibold text-white">MultiModal Health Analyzer</span>
          </a>
          <ul class="flex flex-wrap items-center text-sm text-gray-400 space-x-6">
            <li><a href="#" class="hover:underline">About</a></li>
            <li><a href="#" class="hover:underline">Privacy Policy</a></li>
            <li><a href="http://GitHub.com/yhm54/Salubritas" target="_blank" class="hover:underline">GitHub</a></li>
            <li><a href="mailto:bhavinjain495@gmail.com" class="hover:underline">Contact</a></li>
          </ul>
        </div>
        <div class="text-center text-sm text-gray-500 mt-6">
          © 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
        </div>
      </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
